# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
angular.js
.pyc

js/ui-grid.js
css/ui-grid.css
release
data/500_complex.json